/* เพิ่ม container เพื่อแบ่งฝั่งซ้ายและขวา */
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

/* ฝั่งซ้าย: ฟอร์มกรอกข้อมูล */
.form-section {
  flex: 1;
  padding: 20px;
  max-width: 48%; /* จำกัดความกว้างของฟอร์ม */
  text-align: left;
}

/* ฝั่งขวา: แสดงข้อมูลผิดพลาด */
.error-section {
  flex: 1;
  padding: 20px;
  max-width: 48%;
  text-align: left;
  max-height: 400px;  /* ความสูงสูงสุด */
  overflow-y: auto;   /* เปิดการเลื่อนแนวตั้ง */
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 0.9em;
  border: 5px solid #e22222;
  border-radius: 5px;
  resize: none;
}

button {
  padding: 10px 20px;
  font-size: 0.9em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button-reset {
  padding: 10px 20px;
  font-size: 0.9em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #04990c;
}

button[type="button"] {
  background-color: #eb4c4c;
  cursor: pointer;
  margin-left: 10px;
}

button[type="button"]:hover {
  background-color: #eb2102;
}

/* สไตล์สำหรับตารางแสดงข้อผิดพลาด */
table {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  border-collapse: collapse;
  margin: 0 auto;
}

th, td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #cc0b0b;
}

h5 {
  color: red; /* สีแดง */
  font-size: 0.6em; /* ขนาดข้อความที่เหมาะสม */
  margin-top: 0.6px; /* เพิ่มระยะห่างจากส่วนหัว */
}


.success-message {
  font-size: 1em;
  margin-top: 20px;
  background-color: white;
  color: green;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.download-button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.download-button:hover {
  background-color: #45a049;
}

.home-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.home-button:hover {
  background-color: #45a049;
}
